// Font family
$font-base: 		'Bebas Neue', cursive;
$font-hedding:	'Bebas Neue', cursive;

// Colors
$body-color:		#445773;
$primary:				#445773;
$secondary:		  #d2265b;
$white:					#ffffff;
$gray-1: 				#f7f8f9; 	// bg light
$gray-2: 				#dfdfdf;
$gray-3: 				#7c8087; 	// body-text
$gray-4: 				#707173;
$gray-5: 				#3a4957;
$gray-6: 				#040404;
$gray-7: 				#bbbbbb;
$gray-8: 				#1d293f; 	// Hedding color
$gray-9: 				#18191c; 	// bg color
$black:  				#000000;
$success:				#0fbc49;
$danger:				#f52626;
$orange: 				#ff6b0f;
$warning:       #ffc107;

$border-color: 	#e7e7e7;

// For button and input border radius
$border-radius: 50px;
$border-radius-md: 20px;
$border-radius-sm: 4px;
